body{
    background-image: url("smap-weather.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#mainHead {
    color: white;
    text-shadow: rgb(125, 235, 35);
}
#containWeather {
    position: relative;
    top: 100px;
    height: 400px;
    width: 800px;
    background: transparent;
    line-height: 400px;
    text-align: center;
}
